<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3 Schools Vue Tutorial</title>

      <style>
        #app > div {
            border: solid black 1px;
            width: 80%;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        img {
            width: 70px;
            margin: 10px;
        }

        figure {
            text-align: center;
            border: 4px dotted darkgray;
        }
  </style>

</head>
<body>
    <div id="app">

        <!-- example 1, list rendering -->
         <p>List Rendering:</p>
         <div>
            <ol>
                <li v-for="x in potatoeFoods">{{ x }}</li>
            </ol>
         </div>

         <br>

        <!-- example 2, loop through an Array using v-bind -->
        <p>Loop through an array:</p>
        <div>
            <img v-for="x in manyFoods" :src="x" alt="">
        </div>

        <br>

        <!-- example 3, loop through an array of objects -->
         <p>Loop through an array of objects:</p>
         <div>
            <figure v-for="x in arrayOfObjects">
                <img :src="x.url" :alt="x.name">
                <figCaption>{{ x.name }}</figCaption>
            </figure>
         </div>

         <!-- example 4, get the index -->
         <p>get the index:</p>
         <div>
            <p v-for="(x, index) in arrayOfObjects">
                {{ index }}: "{{ x }}" <br>
            </p>
         </div>

    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    // data properties
                    // array
                    potatoeFoods: [
                        'mashed potatoes',
                        'french fries',
                        'baked potatoes',
                        'whiskey',
                        'scalloped potatoes',
                        'au gratin potatoes'
                    ],
                    manyFoods: [
                        '../assets/images/img_salad.svg',
                        '../assets/images/img_cake.svg',
                        '../assets/images/img_soup.svg',
                        '../assets/images/img_fish.svg',
                        '../assets/images/img_pizza.svg',
                        '../assets/images/img_rice.svg'
                    ],
                    arrayOfObjects: [
                        {   
                            name: 'Burrito', 
                            url: '../assets/images/img_burrito.svg'
                        },
                        {   
                            name: 'Salad', 
                            url: '../assets/images/img_salad.svg'
                        },
                        {   
                            name: 'Cake', 
                            url: '../assets/images/img_cake.svg'
                        },
                        {   
                            name: 'Soup', 
                            url: '../assets/images/img_soup.svg'
                        },
                        {   
                            name: 'Fish', 
                            url: '../assets/images/img_fish.svg'
                        },
                        {   
                            name: 'Pizza', 
                            url: '../assets/images/img_pizza.svg'
                        },
                        {   
                            name: 'Rice', 
                            url: '../assets/images/img_rice.svg'
                        }
                    ]
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>